<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <link rel="apple-touch-icon"      sizes="180x180" href="/static/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"   href="/static/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"   href="/static/assets/img/favicon-16x16.png">
    
    <title>
        Flask Dashboard SB Admin - {% block title %}{% endblock %} | AppSeed
    </title>

    <link href="/static/assets/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="sb-nav-fixed">

    {% include 'includes/navigation.html' %}

    <div id="layoutSidenav">
        
        {% include 'includes/sidebar.html' %}

        <div id="layoutSidenav_content">
            
            {% block content %}{% endblock content %}
            
            {% include 'includes/footer.html' %}

        </div>
    </div>

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}
        
    </body>
</html>
