
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">
                    &copy; StartBootstrap - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>
                </div>
                <div>
                    <a target="_blank" href="https://appseed.us/admin-dashboards/flask-dashboard-sb-admin">Product</a>
                    &middot;
                    <a target="_blank" href="https://appseed.us/support">Support</a>
                </div>
            </div>
        </div>
    </footer>
